/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

App/Console/
App/Exceptions/
App/Http/Controllers/Auth/
App/Http/Middleware/
App/Http/Requests/
App/Http/Kernel.php
App/Providers/
App/View
bootstrap/
config/
lang/
public/
resources/views/auth/
resources/views/components/
routes/api.php
routes/auth.php
routes/channels.php
routes/console.php
storage/
tests/
.editorconfig
.env.example
.styleci.yml
artisan
composer.*
package*
phpunit.xml
tailwind.config.js
webpack.mix.js
