.form{
    display: flex;
    height: 100vh;
    justify-content: left;
}

.formelt{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    background: #fff;
    border-radius: 6px;
}

/* TITLE */
.formelt .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.formelt .title::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #42a5f5, #fff);
    left: 0;
    bottom: 0;
}

/* Form */
.formelt form .details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

/* Form Span + Input */
.details .input-box span{
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 200ms ease;
}

.details .input-box input:focus,
.details .input-box input:valid{
    border-color: #42a5f5;
}

/* Image upload */
.formelt .details .input-box .button-wrap{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.formelt .details .input-box input[type="file"]{
    position: absolute;
    z-index: -1;
}

.formelt .details .input-box .avatarbtn{
    display: inline-block;
    cursor: pointer;
    width: 100%;
    height: 45px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-bottom-width: 2px;
    border-radius: 6px;
    font-size: 16px;
    text-align: center;
    padding: 8px 0 8px;
}

/* Submit */
.formelt form .submitbtn{
    height: 45px;
    margin: 45px 0;
}

.formelt form .submitbtn input{
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #42a5f5, #fff);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: background 1s ease;
}

.formelt form .submitbtn input:hover{
    background: linear-gradient(-135deg, #42a5f5, #fff);
}



@media(max-width: 584px){
    .formelt{
        max-width: 100%;
    }
    .formelt form .details{
        max-height: 100vh;
        overflow-y: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .formelt form .details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
}
