*{
    margin: 0;
    padding: 0;
}

body{
    background: rgba(50, 20, 90, 0.8);
}

.home_content{
    position: absolute;
    top: 0;
    left: 78px;
    height: 100vh;
    width: calc(100%-78px);
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar.active .home_content{
    left: 240px;
    width: calc(100%-240px);
}

.precision{
    position: absolute;
    top: 0;
    left: 458px;
    height: 100vh;
    width: calc(100%-458px);
}

.sidebar.active .precision{
    left: 620px;
    width: calc(100%-620px);
}
