.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #0b0062;
    padding: 6px 14px;
    transition: all 350ms ease;
    z-index: 100;
}

.content.sb_active .sidebar {
    width: 240px;
}

.sidebar .logo_content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 350ms ease;
}

.content.sb_active .sidebar .logo_content .logo {
    opacity: 1;
    pointer-events: auto;
}

.logo_content .logo i {
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
    margin-left: 5px;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    top: 6px;
    left: 50%;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.content.sb_active .sidebar #btn {
    left: 85%;
}

.sidebar ul {
    margin-top: 20px;
    height: 100%;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 350ms ease;
    opacity: 0;
    pointer-events: none;
    display: block;
    z-index: 100;
}

.content.sb_active .sidebar ul li .tooltip {
    display: none;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
    top: 50%;
}

.sidebar ul li input {
    position: absolute;
    height: 100%;
    display: none;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b318d;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.content.sb_active .sidebar ul li input{
    width: 100%;
    display: grid;
}

.sidebar ul li .bx-search-alt-2 {
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    transition: all 350ms ease;
}

.sidebar ul li .bx-search-alt-2:hover {
    background: #fff;
    color: #1d1b318d;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    text-decoration: none;
    transition: all 350ms ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    color: #15101d;
    background: #fff;
}

.sidebar ul li i {
    color: #fff;
    height: 50px;
    width: 50px;

    min-width: 50px;
    /*ok c'etait l'enfer pour simplement placer une boite*/

    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar ul li a i{
    transition: all 350ms ease;
}

.sidebar ul li a:hover i {
    /* c'est moi qui ai compris sa xD */
    color: #15101d;
}

.sidebar .link_name {
    transition: all 350ms ease;
    opacity: 0;
    pointer-events: none;
}

.content.sb_active .sidebar .link_name {
    opacity: 1;
    pointer-events: auto;
}


/* Footer *//* User info */
.sidebar .profile_content {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Part 1 : Log in & Register */
.content.sb_active .sidebar .profile_content:hover .profile_actions{
    display: block;
    opacity: 1;
}

.sidebar .profile_content .profile_actions{
    height: 50px;
    width: 100%;
    opacity: 0;
    display: none;
    background: #e4e9f7;
    transition: all 350ms;
}


.sidebar .profile_content .profile_actions .icons{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar .profile_content .profile_actions .icons a{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.sidebar .profile_content .profile_actions .icons a:hover{
    color: rgba(0, 0, 0, 0.5);
}
.sidebar .profile_content .profile_actions .icons a:focus{
    color: rgba(0, 0, 0, 0.3);
}

.sidebar .profile_content .profile_actions .icons a i{
    font-size: 35px;
}
.sidebar .profile_content .profile_actions .icons a span{
    font-size: 20px;
    font-weight: 600;
}


/* Part 2 user img & infos */
.sidebar .profile_content .profile {
    position: relative;
    height: 60px;
    transition: all 350ms ease;
    background: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.content.sb_active .sidebar .profile_content .profile {
    background: #1d1b318d;
}

.sidebar .profile_content .profile .profile_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
}

.content.sb_active .sidebar .profile .profile_details {
    opacity: 1;
    pointer-events: auto;
}

.profile img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 12px;
    margin: auto 14px 5px 14px;
    transition: all 350ms ease;
}

.content.sb_active .sidebar .profile img{
    height: 35px;
    width: 35px;
    margin: auto 5px 12px 5px;
}

.profile .profile_details{
    margin-left: 0;
}

.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}

.profile .profile_details .job {
    font-size: 12px;
    font-weight: 400;
}
